body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    align-content: center;
}

header {
    width: fit-content;
    height: fit-content;
    align-self: center;
}

h1 {
    width: fit-content;   
    height: fit-content;
    font-size: 100px;
}

main {
    width: 100%;
    height: 3fr;
    align-self: flex-start;
}

#columnHeadings {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

h3 {
    width: fit-content;
    height: fit-content;
    font-size: 30px;
}